* {
  font-family: "Museo Sans Cyrl", sans-serif;
}

@-webkit-keyframes heartbeat {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes heartbeat {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.container {
  max-width: 950px;
  margin: 0 auto;
}

.promo {
  min-height: 650px;
  padding: 21px 0 93px 0;
  background: url(../../img/bg/bg.png) center center/cover no-repeat;
  width: 100%;
}
.promo__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 90px;
}
.promo__header {
  color: #FFF;
  font-size: 42px;
  font-family: "Museo Sans Cyrl 700";
  text-transform: uppercase;
  line-height: 42px;
}
.promo__subheader {
  color: #FFF;
  margin-top: 17px;
  font-size: 24px;
  text-transform: uppercase;
  font-family: "Museo Sans Cyrl 500";
  line-height: 24px;
}
.promo__icons {
  margin-top: 65px;
  width: 425px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.promo__icon {
  width: 108px;
  text-align: center;
  font-family: "Museo Sans Cyrl 500";
  font-style: 14px;
  color: #fff;
}
.promo__icon img {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}
.promo__link {
  color: #FFF;
  font-family: "Museo Sans Cyrl 500";
  font-size: 16px;
  margin-top: 18px;
}
.promo__link a {
  color: #FFF;
  text-decoration: underline;
  text-transform: uppercase;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  width: 250px;
}
.header__logo img {
  width: 100%;
}
.header__official {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  font-family: "Museo Sans Cyrl 500";
}
.header__official span {
  display: block;
  font-size: 18px;
  font-family: "Museo Sans Cyrl 500";
}
.header__phone {
  color: #FFF;
  display: block;
  font-family: "Museo Sans Cyrl 700";
  font-size: 18px;
  font-weight: 700;
}
.header__phone:hover {
  color: #fff;
  text-decoration: none;
}
.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.button {
  width: 150px;
  height: 30px;
  border-radius: 5px;
  background-color: #c70101;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-family: "Museo Sans Cyrl 500";
}
.button_main {
  width: 300px;
  height: 50px;
  font-size: 16px;
  margin-top: 67px;
}
.button_submit {
  width: 100%;
  fill: #C70101;
  height: 55px;
  font-size: 16px;
  color: #fff;
}
.button_mini {
  width: 131px;
  height: 40px;
  font-size: 14px;
}

.advantages {
  padding: 70px 0 80px 0;
  background-color: #f6f6f6;
}
.advantages__wrapper {
  margin-top: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.advantages__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 238px;
}
.advantages__subtitle {
  margin-top: 38px;
  color: #0d0d0d;
  font-size: 18px;
  font-weight: 700;
}
.advantages__descr {
  margin-top: 26px;
  color: #0d0d0d;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
}
.advantages__descr a {
  color: #ff0000;
  text-decoration: underline;
}
.advantages__icon_animated {
  -webkit-animation-name: heartbeat;
          animation-name: heartbeat;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.advantages__icon_animated:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.consultation {
  min-height: 680px;
  padding: 100px 0 92px 0;
  background: url("../../img/bg/bg2.png") center center/cover no-repeat;
}
.consultation__descr {
  color: #FFF;
  font-family: "Museo Sans Cyrl 500";
  font-size: 20px;
  line-height: 30px;
}
.consultation .error {
  border: 1px solid #ff0000;
}
.consultation label.error {
  color: #fff;
  border: none;
  text-align: center;
  margin-bottom: 15px;
  font-size: 13px;
}

.title {
  color: #0d0d0d;
  font-size: 30px;
  font-family: "Museo Sans Cyrl 700";
  text-align: center;
  text-transform: uppercase;
}
.title_left {
  color: #fff;
  font-size: 36px;
  text-align: left;
}

.feed-form {
  margin-top: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
}
.feed-form input {
  height: 50px;
  border-radius: 5px;
  background-color: #fff;
  margin-bottom: 15px;
  border: none;
  padding: 0 20px;
  color: #4B4B4B;
  font-family: "Museo Sans Cyrl 300";
  font-size: 14px;
}
.feed-form input:-moz-placeholder {
  color: #FF0000;
}
.feed-form input:-ms-input-placeholder {
  color: #FF0000;
}
.feed-form input:nth-child(3) {
  margin-bottom: 20px;
}
.feed-form_mt25 {
  margin-top: 25px;
}

.carousel {
  padding: 81px 0 81px;
}
.carousel__inner {
  width: 750px;
  margin: 0 auto;
  position: relative;
}
.carousel__inner img {
  width: 100%;
}
.carousel .slick-prev, .carousel .slick-next {
  border: none;
  background-color: #fff;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -66px;
}
.carousel .slick-prev img, .carousel .slick-next img {
  width: 31px;
  height: 50px;
}
.carousel .slick-next {
  right: -66px;
  left: auto;
}

.catalog {
  padding-bottom: 100px;
}
.catalog__tabs {
  margin-top: 70px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
  padding-left: 0;
}
.catalog__tab {
  width: 220px;
  height: 50px;
  border: 2px solid #d0d0d0;
  color: #6b6b6b;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  line-height: 48px;
  -webkit-transform: skewX(-25deg);
          transform: skewX(-25deg);
  margin: 0 5px;
  cursor: pointer;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.catalog__tab:hover {
  -webkit-box-shadow: 3px 3px 20px #c70101;
          box-shadow: 3px 3px 20px #c70101;
  border: none;
}
.catalog__tab div {
  -webkit-transform: skewX(25deg);
          transform: skewX(25deg);
}
.catalog__tab_active {
  color: #fff;
  background-color: #c70101;
  border: none;
}
.catalog__content {
  margin-top: 60px;
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.catalog__content_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.catalog-item {
  width: 300px;
  min-height: 440px;
  border: 2px solid #e8e8e8;
  padding: 20px 20px 26px 20px;
  overflow: hidden;
  margin-bottom: 20px;
}
.catalog-item__img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: 200px;
}
.catalog-item__subtitle {
  margin-top: 20px;
  color: #0d0d0d;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}
.catalog-item__descr {
  margin-top: 16px;
  color: #0d0d0d;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
}
.catalog-item__link {
  display: block;
  margin-top: 17px;
  color: #c70101;
  font-size: 14px;
  font-weight: 500;
  text-decoration: underline;
  text-align: center;
  text-transform: uppercase;
}
.catalog-item__link:hover {
  color: #c70101;
}
.catalog-item hr {
  background-color: #e8e8e8;
  margin-top: 19px;
  margin-bottom: 21px;
  border-bottom: none;
}
.catalog-item__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.catalog-item__old-price {
  color: #555555;
  font-size: 14px;
  font-weight: 300;
  text-decoration: line-through;
}
.catalog-item__price {
  color: #050505;
  font-size: 20px;
  font-weight: 700;
}
.catalog-item__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(200% + 40px);
}
.catalog-item__content {
  width: 50%;
  margin-right: 0px;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.catalog-item__content_active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  margin-right: 20px;
}
.catalog-item__list {
  position: relative;
  width: 50%;
  margin-left: 20px;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  padding-right: 20px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  padding-left: 19px;
  margin-bottom: 0;
  list-style-type: none;
}
.catalog-item__list_active {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  margin-left: 0px;
}
.catalog-item__list li {
  position: relative;
  color: #555555;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 20px;
}
.catalog-item__list li:before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #c70101;
  left: -14px;
  top: 7px;
}
.catalog-item__back {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(calc(-50% - 19px));
          transform: translateX(calc(-50% - 19px));
  display: block;
  color: #c70101;
  font-size: 14px;
  font-weight: 500;
  text-decoration: underline;
  text-transform: uppercase;
}
.catalog-item__back:hover {
  color: #c70101;
}

.feed {
  padding-bottom: 71px;
}
.feed__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
}
.feed__item:nth-child(2) {
  margin-top: 70px;
}
.feed__img {
  width: 169px;
  height: 169px;
}
.feed__text {
  margin-left: 62px;
  padding-right: 60px;
}
.feed__subtitle {
  color: #0d0d0d;
  font-size: 18px;
  font-family: "Museo Sans Cyrl 700";
}
.feed__count {
  color: #646464;
  font-size: 14px;
  font-family: "Museo Sans Cyrl 500";
}
.feed__descr {
  color: #0d0d0d;
  font-size: 16px;
  font-family: "Museo Sans Cyrl 300";
  margin-top: 10px;
}

.footer {
  height: 630px;
  position: relative;
}
.footer__info {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 270px;
  background-color: #c70101;
  padding: 50px 60px 60px 68px;
}
.footer__addr {
  color: #FFF;
  text-align: center;
  font-family: "Museo Sans Cyrl 500";
  font-size: 20px;
  margin-bottom: 36px;
  line-height: 20px;
}
.footer__phone {
  display: block;
  color: #FFF;
  font-size: 20px;
  margin-bottom: 38px;
  font-family: "Museo Sans Cyrl 700";
  text-align: center;
  line-height: 20px;
}
.footer__phone:hover {
  color: #fff;
}
.footer__social-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  border: 2px solid #000;
  border-radius: 100%;
  margin: 0 15px;
}
.footer__social-item img {
  height: 27px;
  color: #fff;
}
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.56);
}

.modal-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 380px;
  min-height: 400px;
  background-color: #f2f2f2;
  padding: 38px 40px 40px 40px;
}
.modal-modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 41px;
  line-height: 21px;
  color: #c70101;
  cursor: pointer;
}
.modal-modal__subtitle {
  color: #0D0D0D;
  text-align: center;
  font-family: "Museo Sans Cyrl 700";
  font-size: 18px;
  line-height: 19px;
}
.modal-modal__descr {
  color: #0D0D0D;
  text-align: center;
  font-family: "Museo Sans Cyrl 500";
  font-size: 14px;
  line-height: 14px;
}
.modal-modal_mini {
  min-height: 140px;
}
.modal-modal .error {
  border: 1px solid #ff0000;
}
.modal-modal label.error {
  border: none;
  text-align: center;
  margin-bottom: 15px;
  font-size: 13px;
}

#consultation, #order, #thanks {
  display: none;
}

.pageup {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 40px;
  height: 40px;
}
.pageup img {
  width: 100%;
}

@media (max-width: 768px) {
  .header__logo {
    width: 180px;
  }
  .header__logo img {
    width: 100%;
  }
  .header__official {
    font-size: 10px;
  }
  .header__official span {
    font-size: 16px;
  }
  .header__phone {
    font-size: 16px;
  }
  .header__phone:hover {
    color: #fff;
    text-decoration: none;
  }
  .advantages__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .carousel__inner {
    max-width: 100%;
  }
  .catalog__content {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .feed__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .feed__img {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    margin-bottom: 20px;
  }
}
@media (max-width: 575px) {
  .header__official {
    font-size: 8px;
  }
  .header__official span {
    font-size: 10px;
  }
  .promo__wrapper h1 {
    font-size: 38px;
  }
  .promo__wrapper h2 {
    font-size: 20px;
  }
  .promo__icons {
    width: 100%;
  }
  .catalog__tab {
    font-size: 14px;
  }
  .consultation .title_left {
    font-size: 26px;
  }
  .consultation__descr {
    font-size: 18px;
  }
  .consultation .feed-form input {
    height: 40px;
  }
  .consultation .feed-form button {
    height: 40px;
    font-size: 14px;
  }
}
@media (max-width: 430px) {
  .catalog__tab {
    font-size: 10px;
  }
  .catalog h2 .title {
    font-size: 28px;
  }
  .feed__subtitle {
    font-size: 16px;
  }
  .feed__count {
    font-size: 12px;
  }
  .feed__descr {
    font-size: 14px;
  }
  .modal-modal {
    width: 310px;
    min-height: 400px;
  }
  .modal-modal__subtitle {
    font-size: 14px;
  }
  .modal-modal__descr {
    font-size: 10px;
  }
  .feed-form_media {
    width: 100%;
    height: 100%;
  }
  .button_media {
    font-size: 14px;
  }
}